div.b{
  text-align:center;
  font-size:50px;
}

div.area{
  margin:50px 0px 50px 100px;
  text-align:center;
  font-size:50px;
  border: 2px solid #92d050;
  border-radius:20px;
  width:85%;
}

select.zyoken{
  font-size: 50px;
  background: #0cb06e;/*ボタン色*/
  margin:0px 50px 50px 80px;
  border-radius: 20px;
  width:35%;
}


button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #0cb06e;/*ボタン色*/
  color: #000;
  border-bottom: solid 10px #627295;
  border-radius: 30px;
  font-size:50px;
  margin:0px 50px 50px 80px;

}

button.vol{
  width:85%;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #0cb06e;/*ボタン色*/
  color: #000;
  border-bottom: solid 10px #627295;
  border-radius: 30px;
  font-size:50px;
  margin:0px 50px 50px 80px;

}
button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(10px);
  transform: translateY(10px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
}
