.btn-square {
  display: inline-block;
  padding: 200px 300px;
  text-decoration: none;
  text-align:  center;
  margin:  0 auto;            /* 中央寄せ */
  background: #00FF00;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
