div#Toptitle-detail{　　　　　　　　　　　　　/*白ラベル*/
  width:100%;
  text-align: center;
  background-color: white;
  font-size: 100px;
  margin:0px 0 100px 0;
}

#novol{
  display:none;
  text-align: center;
  font-size: 40px;
  padding: 100px;
  font-weight: bold;
  color:red;
  border-radius: 20px;
  border: solid 4px black;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
