.btn-point {
  display: inline-block;
  position: absolute;
  top:  80%;
  left: 50%;
  font-size: 40px;
  margin-left: -180px;  /* マイナス「横幅÷2」 */
  margin-top:  -105px;  /* マイナス「高さ÷2」 */
  padding: 0.5em 1em;
  text-decoration: none;
  background: #0cb06e;/*ボタン色*/
  color: #000;
  border-bottom: solid 4px #627295;
  border-radius: 3px;

}
.btn-point:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.point{
  display: inline-block;
  position: absolute;
  top:  38%;
  left: 48%;
  width:  500px;        /* 横幅 */
  height: 300px;        /* 高さ */
  margin-left: -250px;  /* マイナス「横幅÷2」 */
  margin-top:  -150px;  /* マイナス「高さ÷2」 */
  padding: 0.5em 1em;
  text-decoration: none;
  background: white;/*ボタン色*/
  color: #000;
  border: solid 4px #627295;
  border-radius: 20px;
}

.point h1{
  font-size: 30px;            /* 文字サイズ:1.3倍 */
  text-align: left;         /* 中央寄せ */
  color: black;             /* 文字色:ほぼ白色 */
  margin: 10px;               /* 外側の余白:10px */
}

.point h2{
  font-size: 40px;            /* 文字サイズ:1.3倍 */
  color: yellow;             /* 文字色:ほぼ白色 */
  margin: 10px;               /* 外側の余白:10px */
  position: absolute;
  bottom: 30px; /** 場合によっては微調整 **/
  left: 15px;  /** 場合によっては微調整 **/
}

.point h3{
  font-size: 70px;            /* 文字サイズ:1.3倍 */
  color: black;             /* 文字色:ほぼ白色 */
  margin: 10px;               /* 外側の余白:10px */
  position: absolute;
  right: 20px;  /** 場合によっては微調整 **/
}

.point h4{
  font-size:20px;            /* 文字サイズ:1.3倍 */
  color: black;             /* 文字色:ほぼ白色 */
  margin: 10px;               /* 外側の余白:10px */
  position: absolute;
  bottom: 0px; /** 場合によっては微調整 **/
  right: 0px;  /** 場合によっては微調整 **/
}

.rank{
  display: inline-block;
  position: absolute;
  top:  60%;
  left: 48%;
  width:  500px;        /* 横幅 */
  height: 300px;        /* 高さ */
  margin-left: -250px;  /* マイナス「横幅÷2」 */
  margin-top:  -150px;  /* マイナス「高さ÷2」 */
  padding: 0.5em 1em;
  text-decoration: none;
  background: white;/*ボタン色*/
  color: #000;
  border: solid 4px #627295;
  border-radius: 20px;
}

.rank h1{
  font-size: 30px;            /* 文字サイズ:1.3倍 */
  text-align: left;         /* 中央寄せ */
  color:black;             /* 文字色:ほぼ白色 */
  margin: 10px;               /* 外側の余白:10px */
}

.rank h2{
  font-size: 40px;            /* 文字サイズ:1.3倍 */
  /*color:gold;      /* 文字色:ほぼ白色 */
  margin: 10px;               /* 外側の余白:10px */
  position: absolute;
  bottom: 30px; /** 場合によっては微調整 **/
  left: 15px;  /** 場合によっては微調整 **/
}

.rank h3{
  font-size: 70px;            /* 文字サイズ:1.3倍 */
  color: black;             /* 文字色:ほぼ白色 */
  margin: 10px;               /* 外側の余白:10px */
  position: absolute;
  right: 50px;  /** 場合によっては微調整 **/
}

.rank h4{
  font-size:20px;            /* 文字サイズ:1.3倍 */
  color: black;             /* 文字色:ほぼ白色 */
  margin: 10px;               /* 外側の余白:10px */
  position: absolute;
  bottom: 0px; /** 場合によっては微調整 **/
  right: 0px;  /** 場合によっては微調整 **/
}
