/*プルダウンのデザイン*/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}

.custom-select-wrapper select {
  display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height:75px;
  padding: 0 84px 0 22px;
  font-size: 30px;
  font-weight: bold;
  background-color: #0cb06e;
  color: #000;
  line-height: 60px;
  border-radius: 4px;
  cursor: pointer;
  margin-top:10%;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px; height: 10px;
  top: 50%; right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  position: absolute;
display: block;
top: 100%; left: 0; right: 0;
min-width: 100%;
margin: 15px 0;
border: 1px solid #b5b5b5;
border-radius: 4px;
box-sizing: border-box;
box-shadow: 0 2px 1px rgba(0,0,0,.07);
background: #fff;
transition: all .4s ease-in-out;

opacity: 0;
visibility: hidden;
pointer-events: none;
transform: translateY(-15px);
z-index: 2;
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%; right: 25px;
  width: 7px; height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
/*プルダウン内の要素*/
    .custom-option {
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #b5b5b5;
      font-size: 30px;
      font-weight: 600;
      background: silver;
      color: #black;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
      background: #f9f9f9;
    }


.custom1-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}

.custom1-select-wrapper select {
  display: none;
}


.custom1-select {
  position: relative;
  display: inline-block;
}
.custom1-select-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height:75px;

  font-size: 30px;
  font-weight: bold;

  color: #000;
  line-height: 60px;
  border-radius: 4px;
  cursor: pointer;
}
.custom1-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px; height: 10px;
  top: 50%; right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}
.custom1-select.opened .custom1-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom1-options {
  position: absolute;
display: block;
top: 100%; left: 0; right: 0;
min-width: 100%;
margin: 15px 0;
border: 1px solid #b5b5b5;
border-radius: 4px;
box-sizing: border-box;
box-shadow: 0 2px 1px rgba(0,0,0,.07);
background: #fff;
transition: all .4s ease-in-out;

opacity: 0;
visibility: hidden;
pointer-events: none;
transform: translateY(-15px);
z-index: 2;
}

.custom1-select.opened .custom1-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.custom1-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%; right: 25px;
  width: 7px; height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
/*プルダウン内の要素*/
    .custom1-option {
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #b5b5b5;
      font-size: 30px;
      font-weight: 600;
      background: silver;
      color: #black;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom1-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom1-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom1-option:hover,
    .custom1-option.selection {
      background: #f9f9f9;
    }

.days{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0cb06e;
      font-size: 30px;
      width: 720px;
      height:75px;
      margin:10% 0px 0px 13%;
}

.areas{
      font-size: 30px;
      margin:10% 0px 100px 20%;
  }

  select{
  width:600px;
  height:75px;
font-size:30px;
border:alicebluepx;
text-align:center;
border:solid 3px #0cb06e;
}
/*地域名表示*/
.area{
}
.area h2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 606px;
  height:75px;

  font-size: 30px;
  font-weight: bold;
  background-color: #0cb06e;
  color: #000;
  line-height: 60px;
  border-radius: 4px;
}

/*チェックボックス*/
.checkbox{
  display:block;
  text-align:center;
  margin-top:10%;
  font-size: 40px;
}

input[type=checkbox] {
	width:			30px;
	height:			30px;
	-moz-transform:		scale(1.4);
	-webkit-transform:	scale(1.4);
	transform:		scale(1.4);
}


/*検索ボタン*/
.btn-square {
  position: absolute;
  display: inline-block;
  margin-top:70px;
  left:40%;
  font-size: 50px;
  font-weight: bold;
  padding: 0.5em 1em;
  border-bottom: solid 4px #627295;
  border-radius: 18px;
  text-decoration: none;
  background: #0cb06e;/*ボタン色*/
  color: #000;
}

.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height:75px;
  padding: 0 84px 0 22px;
  font-size: 30px;
  font-weight: bold;
  background-color: #0cb06e;
  color: #000;
  line-height: 60px;
  border-radius: 4px;
  cursor: pointer;
  margin-top:10%;
}

.custom0-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}

.custom0-select-wrapper select {
  display: none;
}

.custom0-select {
  position: relative;
  display: inline-block;
}
.custom0-select-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height:75px;
  padding: 0 84px 0 22px;
  font-size: 30px;
  font-weight: bold;
  background-color: #0cb06e;
  color: #000;
  line-height: 60px;
  border-radius: 4px;
  cursor: pointer;
  margin-top:10%;
}
.custom0-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px; height: 10px;
  top: 50%; right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}

.custom0-select.opened .custom0-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom0-options {
  position: absolute;
display: block;
top: 100%; left: 0; right: 0;
min-width: 100%;
margin: 15px 0;
border: 1px solid #b5b5b5;
border-radius: 4px;
box-sizing: border-box;
box-shadow: 0 2px 1px rgba(0,0,0,.07);
background: #fff;
transition: all .4s ease-in-out;

opacity: 0;
visibility: hidden;
pointer-events: none;
transform: translateY(-15px);
z-index: 2;
}

.custom0-select.opened .custom0-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.custom0-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%; right: 25px;
  width: 7px; height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
/*プルダウン内の要素*/
    .custom0-option {
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #b5b5b5;
      font-size: 30px;
      font-weight: 600;
      background: silver;
      color: #black;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom0-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom0-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom0-option:hover,
    .custom0-option.selection {
      background: #f9f9f9;
    }
