html, body{
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
}

div#header-fixed
{
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%　*/
    height: 250px;              /* 縦幅140px */
}

.back {
    position: absolute;
    left: 0px;
    top: 0px;
}
.home {
    position: absolute;
    right: 0px;
    top: 0px;
}

/* フッターの固定 */
div#footer-fixed
{
    position: fixed;            /* フッターの固定 */
    bottom: 0px;                /* 位置(下0px) */
    left: 0px;                  /* 位置(左0px) */
    width: 100%;                /* 横幅100%　*/
    height: 250px;              /* 縦幅140px */
}

/* ボディの定義 */
div#body-bk{
    padding:250px 0 250px 0;    /* 上下に250pxを余白を取る */

}

div#body-bkx{
    padding:200px 0 200px 0;    /* 上下に250pxを余白を取る */

}
div#body-bkxa{
    padding:100px 0 100px 0;    /* 上下に250pxを余白を取る */
    background: #0cb06e;

}

div#body-bkxaa{
    padding:0px 0 100px 0;    /* 上下に250pxを余白を取る */

}

div#body{
    width:100%;
    margin:auto;
}

div#Toptitle1{
    width:100%;
    text-align: center;
    font-size: 100px;
    background-color: #0cb06e;
    margin:0px 0 100px 0;
}

div#Toptitle2{
    width:100%;
    text-align: center;
    font-size: 100px;
    background-color: #92d050;
    margin:0px 0 100px 0;
}


form{
  background-color: ##92d050;
  padding:30px 50px;
}

form dl dt{
  width: 300px;
  padding:10px 0;
  float:left;
  clear:both;
}

form dl dd{
  padding:21px 0;
}

input {
font-size: 30px;
}

select {
font-size: 30px;
}

/*以下ボタン*/
.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #0cb06e;/*ボタン色*/
  color: #000;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square1 {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #92d050;/*ボタン色*/
  color: #000;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 40px;
}

.btn-square1b {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #0cb06e;/*ボタン色*/
  color: #000;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 40px;
}
.btn-square1b:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.btn-square1:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square3 {
  display: inline-block;
  padding: 20px 50px;
  text-decoration: none;
  background: #0cb06e;/*ボタン色*/
  color: #000;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 30px;
}
.btn-square3:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square3x {
  display: inline-block;
  padding: 20px 95px;
  text-decoration: none;
  background: #d3d3d3;/*ボタン色*/
  color: #000;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 30px;
}
.btn-square3x:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square3y {
  display: inline-block;
  padding: 20px 50px;
  text-decoration: none;
  background: #d3d3d3;/*ボタン色*/
  color: #000;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 30px;
}
.btn-square3y:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square4 {
  display: inline-block;
  padding: 20px 50px;
  text-decoration: none;
  background: #000000;/*ボタン色*/
  color: #fff;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 30px;
}
.btn-square4:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square5 {
  display: inline-block;
  padding: 20px 50px;
  text-decoration: none;
  background: #bfbfbf;/*ボタン色*/
  color: #fff;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 30px;
}
.btn-square5:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.bg_test {
    height: 100px;                  /* 高さ指定 */
    padding:  20px;                 /* 余白指定 */
    font-size: 20px;                /* 文字サイズ指定 */
    background-color: #92d050;   /* 背景色指定 */
}
.bg_test2 {
    height: 100px;                  /* 高さ指定 */
    padding:  20px;                 /* 余白指定 */
    font-size: 20px;                /* 文字サイズ指定 */
    background-color: #000000;   /* 背景色指定 */
    color: #fff;
}
.bg_test3 {
    height: 100px;                  /* 高さ指定 */
    padding:  20px;                 /* 余白指定 */
    font-size: 20px;                /* 文字サイズ指定 */
    background-color: #0cb06e;   /* 背景色指定 */
}

.inline-block_test {
  margin-top: -50px;
  margin-bottom: 100px;
    display: inline-block;      /* インラインブロック要素にする */
    background-color:  #fff;    /* 背景色指定 */
    padding:  20px;             /* 余白指定 */
    height: 50px;              /* 高さ指定 */
}

.inline-block_test1 {
  margin-top: 20px;
  margin-bottom: 100px;
    display: inline-block;      /* インラインブロック要素にする */
    background-color:  #fff;    /* 背景色指定 */
    padding:  20px;             /* 余白指定 */
    height: 50px;              /* 高さ指定 */
}


.radius_test {
    border-radius: 50%;                 /* 角丸指定 */
    text-decoration: none;
    display:  inline-block;             /* インラインブロックする */
    padding: 130px 0px;                  /* 余白指定 */
    background-color: #92d050;          /* 背景色指定 */
    color: #000;
    width:310px;                       /* 幅指定 */
    text-align:  center;                /* 中央揃え */
    position: relative;
    font-size: 35px;
}

.size1 {
font-size:20px;
}
.size2 {
font-size:30px;
}

.size3 {
  padding:250px 0 250px 0;
font-size:40px;
}

.size4 {
font-size: 20px;
}

.size5 {
  padding-bottom: 200px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 10px;
}
