.popup-overlay{
  /*Hides pop-up when there is no "active" class*/
  visibility:hidden;
  position:absolute;
  background:#ffffff;
  border:3px solid #666666;
  top:  38%;
  left: 48%;
  width:  500px;        /* 横幅 */
  height: 159px;        /* 高さ */
  margin-left: -250px;  /* マイナス「横幅÷2」 */
  margin-top:  -75px;  /* マイナス「高さ÷2」 */
  /*width:50%;
  height:50%;
  left:25%;*/
}

.popup-overlay.active{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  text-align:center;
  position: absolute;
  z-index: 10;
  top:  45%;
  left: 48%;
  width:  500px;        /* 横幅 */
  height: 300px;        /* 高さ */
  margin-left: -250px;  /* マイナス「横幅÷2」 */
  margin-top:  -150px;  /* マイナス「高さ÷2」 */
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  font-size: 25px;
  font-weight: bold;
  visibility:hidden;
  vertical-align:middle;
  text-align: center;
  margin-top:10%;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
}

.frd-add-app{
  position: relative;
  margin-top: 20%;;
  margin-left:8%;
}
.user_name{
  text-align: center;
  width: 70%;
  font-size: 80px;
  font-weight: bold;
  color:black;
  text-decoration: none;
  background-color: #92d050;
  border-radius: 20px;
  padding: 80px 0px 80px 220px;
  margin-left: -10px;
  border-bottom: solid 8px #627295;
}

.i{
  width:150px;
  position: absolute;
  left: 0;
  margin-left: 5%;;
  margin-top: 8%;
  z-index: 2;
}

.apply{
  position: absolute;
  top: 60%;
  left:35%;
  margin-right: 10%;
  font-size: 60px;
  font-weight: bold;
  color:black;
  background:	#92d050;
  border-radius: 20px;
  padding: 50px 80px 50px 80px;
  border-bottom: solid 8px #627295;
}

.apply:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}


button-ok{
  font-size: 20px;
  font-weight: bold;
  color:red;
  background:	white;
  border:2px solid black;
  padding: 10px 30px 10px 30px;
  margin-right: 5%;
}

button-ok:hover{
  border:2px solid #666666;
  background:#666666;
  color:#ffffff;
}
